<!-- <p>employee works!</p> -->

<!-- <div class="employee-details">
  <p><strong>ID:</strong> {{ employee.eid }}</p>
  <p><strong>Name:</strong> {{ employee.ename }}</p>
  <p><strong>Email:</strong> {{ employee.email }}</p>
  <p><strong>Phone:</strong> {{ employee.phone }}</p>
  <p><strong>Country:</strong> {{ employee.address.country }}</p>
</div> -->
<!-- <div *ngIf="employees.length > 0">
  <app-employee [employee]="emp"> </app-employee>
</div>

<div class="container" *ngIf="employees.length == 0">
  <h1>No employees yet joined your company!!!</h1>
</div> -->

<div class="employee">
  <p>Id: {{ employee.eid }}</p>
  <p>Name: {{ employee.ename }}</p>
  <p>Email: {{ employee.email }}</p>
  <p>Phone: {{ employee.phone }}</p>
</div>
